<div class="content geralPadding pt-4">
    <!--Title-->
    <div class="row">
        <div class="col-sm-6" style="max-height: 93px;">
            <div class="header">
                <h4 class="title">Cadastro de Plant Model</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row card-body float-right" style="padding-bottom:16px">
                <button id="btnPlantModel" class="btn btn-success float-right">Cadastrar</button>
                <button id="btnExcluir" class="btn btn-danger float-right" style="display: none;">Excluir</button>
                <button id="btnCancelar" class="btn float-right">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="content geralPadding">
        <div class="row ml-auto mr-auto">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Nível</label>
                            <select type="text" class="form-control" id="inputNivel">
                                <option selected value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" id="divSite" style="display: none;">
                        <div class="form-group">
                            <label>Site</label>
                            <select type="text" class="form-control" id="inputSite">
                                <option selected value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2" id="divArea" style="display: none;">
                        <div class="form-group">
                            <label>Area</label>
                            <select type="text" class="form-control" id="inputArea">
                                <option selected value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" id="divLinha" style="display: none;">
                        <div class="form-group">
                            <label>Linha</label>
                            <select type="text" class="form-control" id="inputLinha">
                                <option selected value="">Selecione</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Descriçao</label>
                        <div class="form-group">
                            <input id="inputDescript" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-check mt-4 pt-2" style="display: inline-block;">
                        <label class="form-check-label">
                            <input id="checkAtivo" class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                            Ativo
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 ml-auto mr-auto">
                <!--Main tabs-->
                <div class="card-body card">
                    <!--Tab Content-->
                    <div class="tab-content">
                        <table id="datatable_plantModel"
                            class="table table-hover table-striped table-bordered text-center" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Nível</th>
                                    <th>Descriçao</th>
                                    <th>Ativo</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tfoot>
                                <tr>
                                    <th>Nível</th>
                                    <th>Descriçao</th>
                                    <th>Ativo</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>