<div class="content geralPadding pt-4">
    <!--Title-->
    <div class="row">
        <div class="col-sm-6" style="max-height: 93px;">
            <div class="header">
                <h4 class="title">Cadastro de Receitas</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row card-body float-right" style="padding-bottom:16px">
                <button id="btnGerarNovaReceita" class="btn btn-success float-right" style="display: none">Gerar Nova Versão da Receita</button>
                <button id="btnCancelarPesquisa" class="btn float-right" style="display: none">Cancelar Pesquisa</button>
                <button id="btnFinalizarNovaVersao" class="btn btn-success float-right" style="display: none;">Finalizar Edição da Nova Versão</button>
                <button id="btnCancelar" class="btn float-right" style="display: none">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="content geralPadding">
        <div class="row ml-auto mr-auto">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                            <legend style="width: fit-content;padding: 0 5px;">Receita</legend>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-3 mr-3" style="padding: 0;">
                                            <label class="ml-3">Código da Receita</label>
                                            <div class="form-group ml-3">
                                                <!--<input id="inputId" type="text" class="form-control">-->
                                                <select id="selectIdReceita" type="text" class="form-control" ></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mr-3" style="padding: 0;">
                                            <label class="ml-3">Produto</label>
                                            <div class="form-group ml-3" >
                                                <input id="inputProduto" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 mr-3" style="padding: 0;">
                                            <label class="ml-3">Equipamento</label>
                                            <div class="form-group ml-3">
                                                <input id="inputEquip" type="text" class="form-control" disabled>
                                            </div>
                                        </div>                                       
                                        <div class="col-sm-2 mr-3" style="padding: 0;">
                                            <label class="ml-3">Data de Criação</label>
                                            <div class="form-group ml-3">
                                                <input id="inputDtCriacao" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 mr-3" style="padding: 0;">
                                            <label class="ml-3">Versão</label>
                                            <div class="form-group ml-3">
                                                <input id="inputVersaoReceita" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="card-body card" id="Cadastro_Materiais" style="display:none">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset id="fieldMP" style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;"  disabled>
                            <legend style="width: fit-content;padding: 0 5px;">Parâmetros Materiais</legend>
                            <div class="row">
                                <div class="col-sm-1" style="display:none">
                                    <label class="ml-3">MP ID</label>
                                    <div class="form-group ml-3" style="display:none">
                                        <input id="inputMPId" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="display:none">
                                    <label class="ml-3">C-ESPEC</label>
                                    <div class="form-group ml-3" style="display:none">
                                        <input id="inputMPCespec" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1"  style="display:none">
                                    <label class="ml-3">SAP_MAT_CODE</label>
                                    <div class="form-group ml-3" style="display:none">
                                        <input id="inputMPMtCode" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="display:none">
                                    <label class="ml-3">ID_RECEITA</label>
                                    <div class="form-group ml-3" style="display:none">
                                        <input id="inputMPIdRec" type="text" class="form-control">
                                    </div>
                                </div>

                                
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-3">Matéria Prima</label>
                                    <div class="form-group ml-3">
                                        <input id="inputMPChildMat" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Peso</label>
                                    <div class="form-group ml-2">
                                        <input id="inputPeso" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-3">Toler Max.</label>
                                    <div class="form-group ml-2">
                                        <input id="inputTolMax" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Toler Min.</label>
                                    <div class="form-group ml-2">
                                        <input id="inputTolMin" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Vel. Rápida</label>
                                    <div class="form-group ml-2">
                                        <input id="inputVelRap" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Vel. Lenta</label>
                                    <div class="form-group ml-2">
                                        <input id="inputVelLen" type="text" class="form-control">
                                    </div>
                                </div>
                        
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Vel. Jog</label>
                                    <div class="form-group ml-2">
                                        <input id="inputVelJog" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Peso Lento</label>
                                    <div class="form-group ml-2">
                                        <input id="inputPesLen" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Peso jog</label>
                                    <div class="form-group ml-2">
                                        <input id="inputPesJog" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Tempo Jog</label>
                                    <div class="form-group ml-2">
                                        <input id="inputTemJog" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1.5" style="padding: 0;">
                                    <label class="ml-2">Silo Tanque</label>
                                    <div class="form-group ml-2 mr-3 pr-2">
                                        <input id="inputSilTan" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row float-right" style="padding-bottom:5px">
                                <button id="btnSalvarMaterial" class="btn btn-success float-right">Salvar</button>                              
                                <button id="btnCancelarMP" class="btn btn-danger float-right mr-4">Cancelar</button>
                            </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="card-body card" id="Card_Tabela_Materiais" style="display:none">
                <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                    <legend style="width: fit-content;padding: 0 5px;">Matérias Primas</legend>
                
                        <table id="datatable_mp"
                            class="table table-hover table-striped table-bordered text-center context-menu-one"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>M.P.</th>
                                    <th>Peso Plan.</th>
                                    <th>Tol. Max.</th>
                                    <th>Tol. Min.</th>
                                    <th>Vel. Rápida</th>
                                    <th>Vel. Lenta</th>
                                    <th>Vel. Jog.</th>
                                    <th>Pes. Lento</th>
                                    <th>Pes. Jog.</th>
                                    <th>Temp. Jog.</th>
                                    <th>Silo Tanque</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                </fieldset>
            </div>
            <div class="card-body card" id="Cadastro_Operacao" style="display:none">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset id="fieldOper" style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;" disabled>
                            <legend style="width: fit-content;padding: 0 5px;">Parâmetros Operação</legend>

                            <div class="row">
                             <div class="col-sm-1" style="display:none">
                                    <label class="ml-2">Código</label>
                                    <div class="form-group ml-2">
                                        <input id="inputOperCespec" type="text" class="form-control">
                                    </div>
                                </div>
                                 <div class="col-sm-1" style="display:none">
                                    <label class="ml-2">Código</label>
                                    <div class="form-group ml-2">
                                        <input id="inputOperMatCod" type="text" class="form-control">
                                    </div>
                                </div>
                                 <div class="col-sm-1" style="display:none">
                                    <label class="ml-2">Id Receita</label>
                                    <div class="form-group ml-2">
                                        <input id="inputOperIdRec" type="text" class="form-control">
                                    </div>
                                </div>
                                 <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-3">Sequencia</label>
                                    <div class="form-group ml-3">
                                        <input id="inputOperSeq" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">IdOper</label>
                                    <div class="form-group ml-2">
                                        <input id="inputCodIdOper" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Código</label>
                                    <div class="form-group ml-2">
                                        <input id="inputCodOper" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding: 0;">
                                    <label class="ml-2">Operação</label>
                                    <div class="form-group ml-2">
                                        <input id="inputDescOper" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Tempo</label>
                                    <div class="form-group ml-2">
                                        <input id="inputTempoOp" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">Energia</label>
                                    <div class="form-group ml-2">
                                        <input id="inputEnergia" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1" style="padding: 0;">
                                    <label class="ml-2">RPM</label>
                                    <div class="form-group ml-2">
                                        <input id="inputRPM" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1.2" style="padding: 0;">
                                    <label class="ml-2">Temperatura</label>
                                    <div class="form-group ml-2">
                                        <input id="inputTempOper" type="text" class="form-control">
                                    </div>
                                </div>                               
                                <div class="col-sm-1.2" style="padding: 0;">
                                    <label class="ml-2">Pressão Pistão</label>
                                    <div class="form-group ml-2">
                                        <input id="inputPressao" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row float-right" style="padding-bottom:5px">
                                <button id="btnSalvarOperacao" class="btn btn-success float-right">Salvar </button>
                                <button id="btnCancelarOperacao" class="btn btn-danger float-right mr-4">Cancelar</button>           
                            </div>


                               
                            
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="card-body card"  id="Card_Tabela_Operacoes" style="display:none">
                <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                    <legend style="width: fit-content;padding: 0 5px;">Operações </legend>
                    <table id="datatable_op" class="table table-hover table-striped table-bordered text-center context-menu-one"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Seq.</th>
                            <th>Operação</th>
                            <th>Tempo</th>
                            <th>Energia</th>
                            <th>RPM</th>
                            <th>Temperatura</th>                            
                            <th>Pressão pistão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table>
                        
                </fieldset>
            </div>
            

            <div class="card-body card"  id="Card_Processo" style="display:none">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                            <legend style="width: fit-content;padding: 0 5px;">Processo</legend>
                            <div class="row" class="col-12">
                                
                                        <div class="col-sm-1.1" style="display:none">
                                            <label class="ml-3">Id Processo</label>
                                            <div class="form-group ml-3">
                                                <input id="inputProcId" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="display:none">
                                            <label class="ml-3">Id Receita</label>
                                            <div class="form-group ml-3">
                                                <input id="inputProcIdRec" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="display:none">
                                            <label class="ml-3">C Espec</label>
                                            <div class="form-group ml-3">
                                                <input id="inputProcEspec" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="display:none">
                                            <label class="ml-3">Mat SAP Cod</label>
                                            <div class="form-group ml-3">
                                                <input id="inputProcMatCod" type="text" class="form-control" disabled>
                                            </div>
                                        </div>


                                
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-3">Temp. Mixer Z1</label>
                                            <div class="form-group ml-3">
                                                <input id="inputTempMix1" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-2">Temp. Mixer Z2</label>
                                            <div class="form-group ml-2">
                                                <input id="inputTempMix2" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-2">Temp. Mixer Z3</label>
                                            <div class="form-group ml-2">
                                                <input id="inputTempMix3" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-2">Temp. Segurança</label>
                                            <div class="form-group ml-2">
                                                <input id="inputTempSegur" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-2">Pressão Inicial Sonda</label>
                                            <div class="form-group ml-2">
                                                <input id="inputPresSonda" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-1.1" style="padding: 0;">
                                            <label class="ml-2">Veloc. Inicial Rotor</label>
                                            <div class="form-group ml-2">
                                                <input id="inputVelRotor" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                            </div>

                            <div class="row" >
                                <div class="col-6" >
                                    
                                        <label class="ml-3">Notas</label>
                                        <div class="form-group ml-3">
                                            <input id="inputNota" type="text" class="form-control" disabled>
                                        </div>
                                </div>
                                <div class="col-6 float-right" style="padding-bottom:5px; ">
                                    <button id="btnEditarProcesso" class="btn btn-success float-right mr-4" style="display: none">Editar</button>
                                    <button id="btnSalvarProcesso" class="btn btn-success float-right mr-4" style="display: none">Salvar</button>
                                    <button id="btnCancelarProcesso" class="btn btn-danger float-right  mr-4" style="display: none">Cancelar</button>
                                </div>
                            </div>
                        
                        </fieldset>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>