<div class="content geralPadding pt-4">
    <!--Title-->
    <div class="row">
        <div class="col-sm-6" style="max-height: 93px;">
            <div class="header">
                <h4 class="title">Cadastro de Turnos</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row card-body float-right" style="padding-bottom:16px">
                <button id="btnTurno" class="btn btn-success float-right">Cadastrar</button>
                <button id="btnExcluir" class="btn btn-danger float-right" style="display: none;">Excluir</button>
                <button id="btnCancelar" class="btn float-right">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="content geralPadding">
        <div class="row ml-auto mr-auto">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                            <legend style="width: fit-content;padding: 0 5px;">Turno</legend>
                            <div class="col-sm-3 mr-1" style="display: inline-block;padding: 0;">
                                <label>ID</label>
                                <div class="form-group">
                                    <input id="inputId" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 mr-1" style="display: inline-block;padding: 0;">
                                <label>Início</label>
                                <div class="form-group">
                                    <input id="inputInicio" onclick="timepicker(this)" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4" style="display: inline-block;padding: 0;">
                                <label>Fim</label>
                                <div class="form-group">
                                    <input id="inputFim" onclick="timepicker(this)" type="text" class="form-control timepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-4">
                        <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                            <legend style="width: fit-content;padding: 0 5px;">Refeição</legend>
                            <div class="col-sm-5 mr-1" style="display: inline-block;padding: 0;">
                                <label>Início</label>
                                <div class="form-group">
                                    <input id="inputRefI" onclick="timepicker(this)" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-5" style="display: inline-block;padding: 0;">
                                <label>Fim</label>
                                <div class="form-group">
                                    <input id="inputRefF" onclick="timepicker(this)" type="text" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-4">
                        <fieldset style="border:1px solid darkgray;border-radius: 10px;padding: 0 0 0 7px;">
                            <legend style="width: fit-content;padding: 0 5px;">Validade</legend>
                            <div class="col-sm-5 mr-1" style="display: inline-block;padding: 0;">
                                <label>Início</label>
                                <div class="form-group">
                                    <input id="inputValI" onclick="datepicker(this)" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-5" style="display: inline-block;padding: 0;">
                                <label>Fim</label>
                                <div class="form-group">
                                    <input id="inputValF" onclick="datepicker(this)" type="text" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 ml-auto mr-auto">
                <!--Main tabs-->
                <div class="card-body card">
                    <!--Tab Content-->
                    <div class="tab-content">
                        <table id="datatable_turnos"
                            class="table table-hover table-striped table-bordered text-center context-menu-one" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Turno</th>
                                    <th>Início do Turno</th>
                                    <th>Fim do Turno</th>
                                    <th>Início Refeição</th>
                                    <th>Fim Refeição</th>
                                    <th>Validade De</th>
                                    <th>Validade Até</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 25px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Turno</th>
                                    <th>Início do Turno</th>
                                    <th>Fim do Turno</th>
                                    <th>Início Refeição</th>
                                    <th>Fim Refeição</th>
                                    <th>Validade De</th>
                                    <th>Validade Até</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>