<div class="content geralPadding pt-4">
    <!--Title-->
    <div class="row">
        <div class="col-sm-6" style="max-height: 93px;">
            <div class="header">
                <h4 class="title">Cadastro de Ordens de Produção</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row card-body float-right" style="padding-bottom:16px">
                <button id="btnOP" class="btn btn-success float-right">Cadastrar</button>
                <button id="btnExcluir" class="btn btn-danger float-right" style="display: none;">Excluir</button>
                <button id="btnCancelar" class="btn float-right">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="content geralPadding">
        <div class="row ml-auto mr-auto">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>Nº Ordem Produção</label>
                        <div class="form-group">
                            <input id="inputOP" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Planta</label>
                        <div class="form-group">
                            <input id="inputCentro" type="text" class="form-control">
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <label>Receita</label>
                        <div class="form-group">
                            <input id="inputReceita" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Nº de Batches</label>
                        <div class="form-group">
                            <input id="inputQtd" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <label>Data Prevista</label>
                        <div class="form-group">
                            <input id="inputDtPrevista" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Status</label>
                        <div class="form-group">
                            <select id="inputStatus" type="text" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Data de Criação</label>
                        <div class="form-group">
                            <input id="inputDtCriacao" type="text" class="form-control" disabled>
                        </div>
                    </div>                    

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 ml-auto mr-auto">
                <!--Main tabs-->
                <div class="card-body card">
                    <!--Tab Content-->
                    <div class="tab-content">
                        <table id="datatable_ordemProducao"
                            class="table table-hover table-striped table-bordered text-center" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Ordem Produção</th>
                                    <th>Planta</th>
                                    <th>Receita</th>
                                    <th>Nº de Batches</th>
                                    <th>Data Criação</th>
                                    <th>Data Prevista</th>                                    
                                    <th>Status OP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 15px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ordem Produção</th>
                                    <th>Planta</th>
                                    <th>Receita</th>
                                    <th>Nº de Batches</th>
                                    <th>Data Criação</th>
                                    <th>Data Prevista</th>                                    
                                    <th>Status OP</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>